/* Le code du template est à ecrire ici */ 
h4 {
  font-size: 20px; 
  margin-bottom: 15px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 17px
}
.lumieresur {
  font-size: 16px;
  font-weight: bold;
}
.note:before {
  
}
.note:before {
    background: #000 none repeat scroll 0 0;
  content: "\e022";
    font-family: glyphicons halflings;
    color:#FFFFFF;
    left: 11px;
    position: absolute;
    top: 14px;
    border-radius: 100%;
    padding: 7px 9px 7px 11px;
}

.note {
  position: relative;
  padding: 10px 10px 10px 57px;
  margin: 0 0 20px;
  background: #E2E2E2;
}

.commentaire:before {
    background: #000 none repeat scroll 0 0;
    content: "\e111";
    font-family: glyphicons halflings;
    color:#FFFFFF;
    left: 11px;
    position: absolute;
    top: 14px;
    border-radius: 100%;
    padding: 7px 9px 7px 11px;
}

.commentaire {
  position: relative;
  padding: 10px 10px 10px 57px;
  margin: 0 0 20px;
  background: #E2E2E2;
}

.epingle:before {
    background: #000 none repeat scroll 0 0;
    content: "\e111";
    font-family: glyphicons halflings;
    color:#FFFFFF;
    left: 11px;
    position: absolute;
    top: 14px;
    border-radius: 100%;
    padding: 7px 9px 7px 11px;
}

.epingle {
  position: relative;
  padding: 10px 10px 10px 57px;
  margin: 0 0 20px;
  background: #E2E2E2;
}

.alert.alert-info { 
  padding: 10px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert.alert-warning { 
  padding: 10px;
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert.alert-danger { 
  padding: 10px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.imagecadre img{border: 1px solid #333333; padding: 3px;} 
.imageombre img{border: 1px solid #FFFFFF; box-shadow: 0px 0px 7px 0px #333 }
.imagepolaroid {}
.imageronde img {border-radius: 100%; }