// recalage font bug Fontawesome
@font-face {
  font-family: 'FontAwesome';
  src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}');
  src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
  url('@{fa-font-path}/fontawesome-webfont.woff2?v=@{fa-version}') format('woff2'),
  url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
  url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
  url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
//  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
font-weight: normal;
font-style: normal;
}
@fa-font-path:              "/../../fonts";
// Bootstrap fontpath
@icon-font-path:            "/../../fonts/";

.defaultvertipless {
	position: relative;
}
.pos-7 {
	.parent .slidemenu {
	    left: 267px;
	    margin-top: 0;
	    opacity: 0;
	    padding-top: 0;
	    position: absolute;
	    top: 0;
	    width: 0;
	    z-index: -1;
	}
	.parent.open .slidemenu {
	    background: #fff none repeat scroll 0 0;
	    left: 267px;
	    margin-top: 0;
	    min-height: 500px;
	    opacity: 1;
	    padding-top: 0;
	    position: absolute;
	    top: 0;
	    transition: all 0.5s ease 0s;
	    width: 270px;
	    z-index: 500;
	}
}






//Md
@media (max-width:1200px)	{}
//Sm
@media (max-width:991px)	{}
//Xs
@media (max-width:767px)	{}
//Xxs
@media (max-width:480px)	{}