/* Template joomla */

/* pagination */
.pagination .counter { border-bottom: 0px;}
.pagination .pagination {}


/* com_content */
/* article */
dl.article-info dd:after {content: " | "; margin-left: 5px;}
dl.article-info dd {
    display: flex; /* hoouuu du flex ca fait peur ^^ */
    float: left;
    margin-right: 5px;

}
dl.article-info dd:last-child:after {content: ""} 

/* archive */
.chzn-container {width: 100% !important}

/* mod_articles_category */
.article-info-mod-cat span:after {content: " | "}
.article-info-mod-cat span:last-child:after {content: ""} 
/* mod_banner */
.banneritem {overflow: hidden;}

/* Accessibility */
a[target="_blank"]:after {border: 1px solid #FFFFFF; font-family: "Glyphicons Halflings"; content: "\e164"; }


/* My bootstrap */
ul.unstyled {list-style-type: none;  padding: 0px}
/* Add bootstrap multilvl menu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
} 

/* form */
input.invalid {border-color: red}
 

/* Debug front-end */
/* Html5 debug */
body .debughtml:before  {content: "<Body>"; background: red; color: white;}
body .debughtml  {
	  border: 1px solid red;
	  padding: 1px;
	  margin: 1px; 
	  h1:before {content: "<H1>"; background: red; color: white; }
	  h2:before {content: "<H2>"; background: red; color: white; }
	}

.debughtml {
	section:before {content: "<Section>"; background: red; color: white;}
	main:before {content: "<main>"; background: red; color: white;}
	section, main {
	  border: 1px solid red;
	  padding: 1px; 
	  margin: 1px;
	  h1:before {content: "<H1>"; background: red; color: white; }
	  h2:before {content: "<H2>"; background: red; color: white; }
	}
	section[role="main"], main[role="main"] {
	  background: repeating-linear-gradient(
	  45deg,
	  #FFFFFF,
	  #FFFFFF 10px,
	  #F0F0F0 10px,
	  #F0F0F0 20px
		) 
	  }
	header[role="banner"]:before {content: "<header role='banner'>"}
	section[role="main"]:before {content: "<section role='main'>"}
	main[role="main"]:before {content: "<main role='main'>"}
	nav[role="navigation"]:before {content: "<nav role='navigation'>"}
	aside[role="search"]:before {content: "<aside role='search'>"}
	aside[role="complementary"]:before {content: "<aside role='complementary'>"}
	aside[role="note"]:before {content: "<aside role='note'>"}
	aside[role="presentation"]:before {content: "<aside role='presentation'>"}
	article[role="article"]:before {content: "<article role='article'>"}
	article[role="main"]:before {content: "<article role='main'>"}


	article:before   {content: "<Article>"; background: blue; color: white}
	article   {
	  border: 1px solid blue;
	  padding: 1px;
	  margin: 1px;
	  h1:before {content: "<H1>"; background: blue; color: white}
	  h2:before {content: "<H2>"; background: blue; color: white}
	}
	footer:before   {content: "<Footer>"; background: green; color: white}
	footer    {
	  border: 1px solid green;
	  padding: 1px;
	  margin: 1px;
	}
	header:before   {content: "<Header>"; background: black; color: white}
	header   {
	  border: 1px solid black;
	  padding: 1px;
	  margin: 1px;
	  h1:before {content: "<H1>"; background: black; color: white}
	  h2:before {content: "<H2>"; background: black; color: white}
	}
	nav:before   {content: "<Nav>"; background: gray; color: white}
	nav       {
	  border: 1px solid gray;
	  padding: 1px;
	  margin: 1px;
	  h1:before {content: "<H1>"; background: gray; color: white}
	  h2:before {content: "<H2>"; background: gray; color: white}
	}
	aside:before   {content: "<Aside>"; background: gray; color: white}
	aside       {
	  border: 1px solid gray;
	  padding: 1px;
	  margin: 1px;
	  h1:before {content: "<H1>"; background: grey; color: white}
	  h2:before {content: "<H2>"; background: grey; color: white}

	}
	address:before   {content: "<address>"; background: pink; color: white}
	address       {
	  border: 1px solid pink; 
	  padding: 1px;
	  margin: 1px;
	}
	div[role="list"]:before   {
		content: "<div role='list'>";
		background: #DD96A2;
		color: white
	}
	div[role="list"]{	  
	  border: 1px solid #DD96A2;
	  padding: 1px;
	  margin: 1px;}

	div[role="listitem"]:before   {content: "<div role='listitem'>"; background: pink; color: white}
	div[role="listitem"]{	  
	  border: 1px solid peachpuff;
	  padding: 1px;
	  margin: 1px;}

	.sr-only {position: relative; width: auto; height: auto;   }

}

#system-debug { 
	#system-debug a h3 {
		font-weight: bold; 
	}
	.label, .badge {
    	background-color: #999;
	}
	.label-important, .badge-important {
    	background-color: #b94a48;
	}
	.label-warning, .badge-warning { 
    	background-color: #f89406;
	} 
	.label-success, .badge-success {
    	background-color: #468847;
	}
	.dbg-profile-list .label {
    	display: inline-block;
    	min-width: 80px;
    	text-align: right; 
	}
	@keyframes progress-bar-stripes {
	0% {
	    background-position: 40px 0;
	}
	100% {
	    background-position: 0 0;
	}
	}
	@keyframes progress-bar-stripes {
	0% {
	    background-position: 40px 0;
	}
	100% {
	    background-position: 0 0;
	}
	}
	.progress .bar + .bar {
	    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
	}
	.progress {
	    background-color: #f7f7f7;
	    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	    background-repeat: repeat-x;
	    border-radius: 4px;
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	    height: 18px;
	    margin-bottom: 18px;
	    overflow: hidden;
	}
	.progress .bar {
	    background-color: #0e90d2;
	    background-image: linear-gradient(to bottom, #149bdf, #0480be);
	    background-repeat: repeat-x;
	    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
	    box-sizing: border-box;
	    color: #fff;
	    float: left;
	    font-size: 12px;
	    height: 100%;
	    text-align: center;
	    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	    transition: width 0.6s ease 0s;
	    width: 0;
	}
	.progress .bar + .bar {
	    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
	}
	.progress-striped .bar {
	    background-color: #149bdf;
	    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	    background-size: 40px 40px;
	}
	.progress.active .bar {
	    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
	}
	.progress-danger .bar, .progress .bar-danger {
	    background-color: #dd514c;
	    background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
	    background-repeat: repeat-x;
	}
	.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
	    background-color: #ee5f5b;
	    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	}
	.progress-success .bar, .progress .bar-success {
	    background-color: #5eb95e;
	    background-image: linear-gradient(to bottom, #62c462, #57a957);
	    background-repeat: repeat-x;
	}
	.progress-success.progress-striped .bar, .progress-striped .bar-success {
	    background-color: #62c462;
	    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	}
	.progress-info .bar, .progress .bar-info {
	    background-color: #4bb1cf;
	    background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
	    background-repeat: repeat-x;
	}
	.progress-info.progress-striped .bar, .progress-striped .bar-info {
	    background-color: #5bc0de;
	    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	}
	.progress-warning .bar, .progress .bar-warning {
	    background-color: #faa732;
	    background-image: linear-gradient(to bottom, #fbb450, #f89406);
	    background-repeat: repeat-x;
	}
	.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
	    background-color: #fbb450;
	    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	}
	.accordion {
	    margin-bottom: 18px;
	}
	.accordion-group {
	    border: 1px solid #e5e5e5;
	    border-radius: 4px;
	    margin-bottom: 2px;
	}
	.accordion-heading {
	    border-bottom: 0 none;
	}
	.accordion-heading .accordion-toggle {
	    display: block;
	    padding: 8px 15px;
	}
	.accordion-toggle {
	    cursor: pointer;
	}
	.accordion-inner {
	    border-top: 1px solid #e5e5e5;
	    padding: 9px 15px;
	}
}

/* Systeme debug template */
