/* Html5 debug */
body .debughtml:before {
  content: "<Body>";
  background: red;
  color: white;
}
body .debughtml {
  border: 1px solid red;
  padding: 1px;
  margin: 1px;
}
body .debughtml h1:before {
  content: "<H1>";
  background: red;
  color: white;
}
body .debughtml h2:before {
  content: "<H2>";
  background: red;
  color: white;
}
.debughtml section:before {
  content: "<Section>";
  background: red;
  color: white;
}
.debughtml main:before {
  content: "<main>";
  background: red;
  color: white;
}
.debughtml section,
.debughtml main {
  border: 1px solid red;
  padding: 1px;
  margin: 1px;
}
.debughtml section h1:before,
.debughtml main h1:before {
  content: "<H1>";
  background: red;
  color: white;
}
.debughtml section h2:before,
.debughtml main h2:before {
  content: "<H2>";
  background: red;
  color: white;
}
.debughtml section[role="main"],
.debughtml main[role="main"] {
  background: repeating-linear-gradient(45deg, #ffffff, #ffffff 10px, #f0f0f0 10px, #f0f0f0 20px);
}
.debughtml header[role="banner"]:before {
  content: "<header role='banner'>";
}
.debughtml section[role="main"]:before {
  content: "<section role='main'>";
}
.debughtml main[role="main"]:before {
  content: "<main role='main'>";
}
.debughtml nav[role="navigation"]:before {
  content: "<nav role='navigation'>";
}
.debughtml aside[role="search"]:before {
  content: "<aside role='search'>";
}
.debughtml aside[role="complementary"]:before {
  content: "<aside role='complementary'>";
}
.debughtml aside[role="note"]:before {
  content: "<aside role='note'>";
}
.debughtml aside[role="presentation"]:before {
  content: "<aside role='presentation'>";
}
.debughtml article[role="article"]:before {
  content: "<article role='article'>";
}
.debughtml article[role="main"]:before {
  content: "<article role='main'>";
}
.debughtml article:before {
  content: "<Article>";
  background: blue;
  color: white;
}
.debughtml article {
  border: 1px solid blue;
  padding: 1px;
  margin: 1px;
}
.debughtml article h1:before {
  content: "<H1>";
  background: blue;
  color: white;
}
.debughtml article h2:before {
  content: "<H2>";
  background: blue;
  color: white;
}
.debughtml footer:before {
  content: "<Footer>";
  background: green;
  color: white;
}
.debughtml footer {
  border: 1px solid green;
  padding: 1px;
  margin: 1px;
}
.debughtml header:before {
  content: "<Header>";
  background: black;
  color: white;
}
.debughtml header {
  border: 1px solid black;
  padding: 1px;
  margin: 1px;
}
.debughtml header h1:before {
  content: "<H1>";
  background: black;
  color: white;
}
.debughtml header h2:before {
  content: "<H2>";
  background: black;
  color: white;
}
.debughtml nav:before {
  content: "<Nav>";
  background: gray;
  color: white;
}
.debughtml nav {
  border: 1px solid gray;
  padding: 1px;
  margin: 1px;
}
.debughtml nav h1:before {
  content: "<H1>";
  background: gray;
  color: white;
}
.debughtml nav h2:before {
  content: "<H2>";
  background: gray;
  color: white;
}
.debughtml aside:before {
  content: "<Aside>";
  background: gray;
  color: white;
}
.debughtml aside {
  border: 1px solid gray;
  padding: 1px;
  margin: 1px;
}
.debughtml aside h1:before {
  content: "<H1>";
  background: grey;
  color: white;
}
.debughtml aside h2:before {
  content: "<H2>";
  background: grey;
  color: white;
}
.debughtml address:before {
  content: "<address>";
  background: pink;
  color: white;
}
.debughtml address {
  border: 1px solid pink;
  padding: 1px;
  margin: 1px;
}
.debughtml div[role="list"]:before {
  content: "<div role='list'>";
  background: #DD96A2;
  color: white;
}
.debughtml div[role="list"] {
  border: 1px solid #DD96A2;
  padding: 1px;
  margin: 1px;
}
.debughtml div[role="listitem"]:before {
  content: "<div role='listitem'>";
  background: pink;
  color: white;
}
.debughtml div[role="listitem"] {
  border: 1px solid peachpuff;
  padding: 1px;
  margin: 1px;
}
.debughtml .sr-only {
  position: relative;
  width: auto;
  height: auto;
}
/* Panel debug joomla */
#system-debug #system-debug a h3 {
  font-weight: bold;
}
#system-debug .label,
#system-debug .badge {
  background-color: #999;
}
#system-debug .label-important,
#system-debug .badge-important {
  background-color: #b94a48;
}
#system-debug .label-warning,
#system-debug .badge-warning {
  background-color: #f89406;
}
#system-debug .label-success,
#system-debug .badge-success {
  background-color: #468847;
}
#system-debug .dbg-profile-list .label {
  display: inline-block;
  min-width: 80px;
  text-align: right;
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
}
#system-debug .progress .bar + .bar {
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}
#system-debug .progress {
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 18px;
  margin-bottom: 18px;
  overflow: hidden;
}
#system-debug .progress .bar {
  background-color: #0e90d2;
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  box-sizing: border-box;
  color: #fff;
  float: left;
  font-size: 12px;
  height: 100%;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  transition: width 0.6s ease 0s;
  width: 0;
}
#system-debug .progress .bar + .bar {
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}
#system-debug .progress-striped .bar {
  background-color: #149bdf;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
#system-debug .progress.active .bar {
  animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
#system-debug .progress-danger .bar,
#system-debug .progress .bar-danger {
  background-color: #dd514c;
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
}
#system-debug .progress-danger.progress-striped .bar,
#system-debug .progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#system-debug .progress-success .bar,
#system-debug .progress .bar-success {
  background-color: #5eb95e;
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
}
#system-debug .progress-success.progress-striped .bar,
#system-debug .progress-striped .bar-success {
  background-color: #62c462;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#system-debug .progress-info .bar,
#system-debug .progress .bar-info {
  background-color: #4bb1cf;
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
}
#system-debug .progress-info.progress-striped .bar,
#system-debug .progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#system-debug .progress-warning .bar,
#system-debug .progress .bar-warning {
  background-color: #faa732;
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
}
#system-debug .progress-warning.progress-striped .bar,
#system-debug .progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#system-debug .accordion {
  margin-bottom: 18px;
}
#system-debug .accordion-group {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 2px;
}
#system-debug .accordion-heading {
  border-bottom: 0 none;
}
#system-debug .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}
#system-debug .accordion-toggle {
  cursor: pointer;
}
#system-debug .accordion-inner {
  border-top: 1px solid #e5e5e5;
  padding: 9px 15px;
}
/* Marge */
.nomarge {
  margin: 0 !important;
}
.nomargeleft {
  margin-left: 0 !important;
}
.margeleft {
  margin-left: 10px !important;
}
.margeright {
  margin-right: 10px !important;
}
.margebottom {
  margin-bottom: 10px !important;
}
.margetop {
  margin-top: 10px !important;
}
.marge {
  margin: 0 10px 10px 0 !important;
}
.margeleft-s {
  margin-left: 5px !important;
}
.margeright-s {
  margin-right: 5px !important;
}
.margebottom-s {
  margin-bottom: 5px !important;
}
.margetop-s {
  margin-top: 5px !important;
}
.marge-s {
  margin: 0 5px 5px 0 !important;
}
/* padding */
.nopadding {
  padding: 0 !important;
}
.nopaddingleft {
  padding-left: 0 !important;
}
.paddingleft {
  padding-left: 10px !important;
}
.paddingright {
  padding-right: 10px !important;
}
.paddingbottom {
  padding-bottom: 10px !important;
}
.paddingtop {
  padding-top: 10px !important;
}
.padding {
  padding: 0 10px 10px 0 !important;
}
.paddingleft-s {
  padding-left: 5px !important;
}
.paddingright-s {
  padding-right: 5px !important;
}
.paddingbottom-s {
  padding-bottom: 5px !important;
}
.paddingtop-s {
  padding-top: 5px !important;
}
.padding-s {
  padding: 0 5px 5px 0 !important;
}
/* images */
img.fullimg {
  width: 100%;
}
/* form */
input.invalid {
  border-color: red;
}
/* HR */
hr.hrlight {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* Liste */
ul.unstyled {
  list-style-type: none;
  padding: 0px;
}
/* Menu (ajout a bootstrap pour menu a plusieurs niveaux dans joomla) */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
/* Accessibility */
a[target="_blank"]:after {
  font-family: "Glyphicons Halflings";
  font-size: 10px;
  margin-left: 5px;
  content: "\e164";
}
/* Template joomla */
/* Systeme liste chosen noconflict */
.tab-pane-noconflictchosen {
  display: block;
}
/* Com search */
.searchintro {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 40px;
  margin-top: 15px;
}
.search .ordering-box {
  margin-bottom: 25px;
}
.search .ordering-box {
  margin-bottom: 25px;
}
.search .form-limit {
  border-top: 1px solid #e0e0e0;
  margin: 25px 0;
  padding: 25px 0 0;
}
dl.search-results dt.result-title {
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
  padding-top: 10px;
}
dl.search-results dt:first-child {
  border-top: 0px solid #e0e0e0;
  margin-top: 0px;
  padding-top: 0px;
}
/* Module en col droite */
.coldrte .moduletable {
  background: none repeat scroll 0 0 #f7f7f7;
  margin-bottom: 10px;
  padding: 1px 10px 10px;
}
/* pagination */
.pagination .counter {
  border-bottom: 0px;
}
/* com_content */
/* article */
.article-info.muted {
  background: none repeat scroll 0 0 #f5f5f5;
  border: 1px solid #e0e0e0;
  margin-bottom: 15px;
  padding: 10px 10px 0px 10px;
  min-height: 65px;
}
dl.article-info a {
  margin-left: 5px;
}
dl.article-info dd:after {
  content: " | ";
  margin-left: 5px;
}
dl.article-info dd {
  display: flex;
  /* hoouuu du flex ca fait peur ^^ */
  float: left;
  margin-right: 5px;
}
dl.article-info dd:last-child:after {
  content: "";
}
/* mod_articles_category */
.article-info-mod-cat span:after {
  content: " | ";
}
.article-info-mod-cat span:last-child:after {
  content: "";
}
/* mod_banner */
.banneritem {
  overflow: hidden;
}
