@import "htmldebug.less";
@import "bootstrapc3rb.less";
@import "themebs/bootstrap.less";
/* design */
.evit-lnk { 
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 12px 35px 12px 20px;
}


 


/* Template joomla */
/* Systeme liste chosen noconflict */
.tab-pane-noconflictchosen {display: block}

/* Com search */ 
.search .btn {
  width: 45px;
  height: 34px
}
.searchintro {    
	border-bottom: 1px solid #e0e0e0;
    margin-bottom: 40px;
    margin-top: 15px;}
    .search .ordering-box {
        margin-bottom: 25px;
    } 
    .search { 
       .ordering-box {margin-bottom: 25px;}
       .form-limit {    
          border-top: 1px solid #e0e0e0;
          margin: 25px 0;
          padding: 25px 0 0;}
      }
      dl.search-results {
       dt.result-title {
           border-top: 1px solid #e0e0e0;
           margin-top: 10px;
           padding-top: 10px;
       }
       dt:first-child {
          border-top: 0px solid #e0e0e0;
          margin-top: 0px;
          padding-top: 0px;
      }
  }

  /* Module en col droite */
  .coldrte .moduletable {
    background: none repeat scroll 0 0 #f7f7f7;
    margin-bottom: 10px;
    padding: 1px 10px 10px;
}

/* pagination */ 


.pagination {
  .counter {
    border-bottom: 0px;
  }
  .btn.pagi {
      border: 0 none;
      padding: 0;
    button.btn {
      border-radius: 0;
      span.caret {
        margin-left: 10px;
      }
    }
  }
  a.btn span.glyphicon {    
    color: #555555;
    font-size: 12px;
  }
  .pagi ul.dropdown-menu {
      min-width: 90px;
      text-align: center;
      a.btn {
        border: 0 none;
        display: block;
        float: none;
        margin: 0;
        padding: 5px 0 0;
        width: 100%;
      }
      a:hover { 
        background: transparent;
        color: #555555
      } 
  }
}



/* Com adminfront */
i.icon-calendar {
  font-family: "Glyphicons Halflings";
  font-style: normal;
}
i.icon-calendar:before {content: "\e109";}
/* com_content */
/* article */
.article-info {    
  color: #666;
  font-style: italic;
}
dl.article-info a {margin-left:5px}
dl.article-info dd:after {content: " , "; margin-left: 5px;}
dl.article-info dd {
    display: flex; /* hoouuu du flex ca fait peur ^^ */
    float: left;
    margin-right: 5px; 

}
dl.article-info dd:last-child:after {content: ""} 

/* mod_articles_category */
.article-info-mod-cat span:after {content: " , "}
.article-info-mod-cat span:last-child:after {content: ""} 

/* mod_banner */
.banneritem {overflow: hidden;}

/* Mod menu (default) */
.navbar-collapse.menuhoryzontal {padding-left: 0px;padding-right: 0px;} 

/* RWD */
@media screen and (max-width: 767px) {
    .nav > li > a {padding:10px 25px; box-sizing: paddingbox}
    .menuhoryzontal ul {max-width: 100%}
}

@import "dyslexicfont.less";