/* Marge */
.nomarge{margin:0 !important}
.nomargeleft{margin-left:0 !important}
.nomargeright{margin-right:0 !important}
.margeleft{margin-left:10px !important}
.margeright{margin-right:10px !important}
.margebottom{margin-bottom:10px !important}
.margetop{margin-top:10px !important}
.marge{margin:0 10px 10px 0 !important}
.margeleft-s{margin-left:5px !important}
.margeright-s{margin-right:5px !important}
.margebottom-s{margin-bottom:5px !important}
.margetop-s{margin-top:5px !important}
.marge-s{margin:0 5px 5px 0 !important}

/* padding */
.nopadding{padding:0 !important}
.nopaddingleft{padding-left:0 !important}
.nopaddingright{padding-right:0 !important}
.paddingleft{padding-left:10px !important}
.paddingright{padding-right:10px !important}
.paddingbottom{padding-bottom:10px !important}
.paddingtop{padding-top:10px !important}
.padding{padding:0 10px 10px 0 !important}
.paddingleft-s{padding-left:5px !important}
.paddingright-s{padding-right:5px !important}
.paddingbottom-s{padding-bottom:5px !important}
.paddingtop-s{padding-top:5px !important}
.padding-s{padding:0 5px 5px 0 !important}

/* class full*/
.full {width:100%}

/* display */
.displaynone {display: none;}

/* Select */
select.form-control {
  background: none!important ;
  border: none!important ;
}
/* Bouton */
.btn-info {
    background-color: @btn-default-bg;
    border-color: @btn-default-border;
    color: @btn-default-color;
}
.btn-default {
    border-radius: @btnrad-default-border;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info.focus:active, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus,
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info, .btn-default:hover {
    background-color: @btnhov-default-bg;
    border-color: @btnhov-default-border;
    color: @btnhov-default-color;
}


//Variable add et gestion admin
body {
    //content: "@{img-bg-gen-yn}";
    background-image: url("../../../../../images/template_rgaa/@{body-bg-img}") ;
    background-repeat:   @img-bg-gen-repeat;
    background-position: @img-bg-gen-position;
    background-color: @body-bg;
}
.container-fluid.tmpmodhn.firstcontainer {margin-top: 15px}
.tmpl-header {
    background: transparent;
    margin-bottom: 10px;
}
img {max-width: 100%}
/* Titre */
h2 {
    color: @h2-color;
    a {
        color: @h2a-color;
        &:hover {
            color:@h2ahov-color;
        }
    }
}
h3 {
    color: @h3-color;
    a {
        color: @h3a-color;
        &:hover {
            color:@h3ahov-color;
        }
    }
}
h4 {
    color: @h4-color;
    a {
        color: @h4a-color;
        &:hover {
            color:@h4ahov-color;
        }
    }
}
h5 {
    color: @h5-color;
    a {
        color: @h5a-color;
        &:hover {
            color:@h5ahov-color;
        }
    }
}
h6 {
    color: @h6-color;
    a {
        color: @h6a-color;
        &:hover {
            color:@h6ahov-color;
        }
    }
}

/* Module */
.moduletable  {
    background-image: url("../../../../../images/template_rgaa/@{body-bg-modimg}") ;
    background-repeat:   @img-bg-mod-repeat;
    background-position: @img-bg-mod-position;
    border-radius: @modfullrad;
    background-color: fade(@bgmodulefull, @bgmodalphafull);
    color: @moduletxtcolor;
    border:  @moduleborder solid @modulebordercolor;
    border-radius: @modfullrad;
    margin-bottom: 15px;
    padding:  0px;
    h2 {
        background-image: url("../../../../../images/template_rgaa/@{body-bg-modtitimg}") ;
        background-repeat:   @img-bg-modtit-repeat;
        background-position: @img-bg-modtit-position;
        background-color: fade(@bgtitremodule, @bgtitremodalpha);
        color: @colortitremodule;
        padding: @modtitpadding;
        border-radius: @modtitrad;
        a {
            color: @moduletxtlnkcolor;
            &:focus, &:hover {color: @moduletxtlnkhovcolor}
            &.togglelink {
                display: block;
                position: relative;
                padding-right: 20px;
                span.glyphicon {
                    font-size: 17px;
                    position: absolute;
                    top: 10px;
                    right: 0;
                    .glyphicon-chevron-up;
                }
            }
            &.togglelink.collapsed {
                span.glyphicon {
                    .glyphicon-chevron-down;
                }
            }
        }
    }
    .modcontent {
        padding: @modctpadding;
        border-radius: @modctrad;
        background-color: fade(@bgmodule, @bgmodalpha);
    }
}

/* General */
.container {
    background-image: url("../../../../../images/template_rgaa/@{body-bg-ctimg}") ;
    background-repeat:   @img-bg-ct-repeat;
    background-position: @img-bg-ct-position;
    background-color: fade(@bgcontainer, @bgcontaineralpha);
    margin-top: @mtopcontainer;
    padding-top: 10px;
    margin-bottom:10px;
    border: @containborder solid @containbordercolor;
    border-radius: @containborderrad;
}

.readmore .btn {
    padding-left: 0;
}
body.tmpl-component .container {background:#ffffff}
/* images */
p img {max-width: 100%} // pour les image administré, generalement dans un p insere par JCE
img.fullimg {width: 100%}

/* form */
input.invalid {border-color: red}

/* HR */
hr.hrlight {margin-bottom: 10px; margin-top: 10px; }

/* Liste */
ul.unstyled {list-style-type: none;  padding: 0px}
.a-list {
    clear: both;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
li.active span.a-list {
   background-color: #f5f5f5;
}
/* Tri table joomla */
.icon-arrow-up-3:after {
    content: "\e253";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.icon-arrow-down-3:after {
    content: "\e252";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
/* Callendrier joomla */
span.icon-calendar:before {
    content: "\f073";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
}
/* list joomla chzn */
.archive {
    .chzn-container-single .chzn-single {
        height:30px;
        line-height: 28px;
        div b {
            background-position: 0px 5px;
        }
    }
    .chzn-container{
        width: 100%!important
    }
}
.chzn-container-single .chzn-single {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #ccc!important;
    border-radius: 0!important;
    box-shadow: none!important;
    color: #444!important;
}

/* Param menu style mega */


.defaultmega {
    .megadesc {
        white-space: normal;
        color: @meganavbar-default-txtclr;
    }
    .dropdown-menu {
    position: absolute;
    left: 0;
    width: 100%;
    }
    .nav > li {
        position: inherit;
    }
    // Default navbar
    &.navbar-default {
      .navbar-nav {
        > li > a {
          color: @meganavbar-default-link-color;
        }
      }
    }
    &.navbar-default {
        background-color: @meganavbar-default-bg;
        border-color: @meganavbar-default-border;
    }
    .navbar-nav {
        > li > a {
          color: @meganavbar-default-link-color;

          &:hover,
          &:focus {
            color: @meganavbar-default-link-hover-color;
            background-color: @meganavbar-default-link-hover-bg;
          }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: @meganavbar-default-link-active-color;
                background-color: @meganavbar-default-link-active-bg;
            }
        }
    }
    .dropdown-menu {
        background-color: @megadropdown-bg;
        border: 1px solid @megadropdown-border;
     // Links within the dropdown menu
        > li > a {
        color: @megadropdown-link-color;
        }
    }
    .dropdown-menu > li > a {
      &:hover,
      &:focus {
        text-decoration: none;
        color: @megadropdown-link-hover-color;
        background-color: @megadropdown-link-hover-bg;
      }
    }
    .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
        color: @megadropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: @megadropdown-link-active-bg;
        }
    }
}

.defaultverti {
    // Default navbar
    &.navbar-default {
      .navbar-nav {
        > li > a {
          color: @vertinavbar-default-link-color;
        }
      }
    }
    &.navbar-default {
        background-color: @vertinavbar-default-bg;
        border-color: @vertinavbar-default-border;
    }
    .nav {
        > li > a {
          color: @vertinavbar-default-link-color;

          &:hover,
          &:focus {
            color: @vertinavbar-default-link-hover-color;
            background-color: @vertinavbar-default-link-hover-bg;
          }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: @vertinavbar-default-link-active-color;
                background-color: @vertinavbar-default-link-active-bg;
            }
        }
    }
    .dropdown-menu {
        background-color: @vertidropdown-bg;
        border: 1px solid @vertidropdown-border;
     // Links within the dropdown menu
        > li > a {
        color: @vertidropdown-link-color;
        }
    }
    .dropdown-menu > li > a {
      &:hover,
      &:focus {
        text-decoration: none;
        color: @vertidropdown-link-hover-color;
        background-color: @vertidropdown-link-hover-bg;
      }
    }
    .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
        color: @vertidropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: @vertidropdown-link-active-bg;
        }
    }
}

/* Menu (ajout a bootstrap pour menu a plusieurs niveaux dans joomla) */
.moduletable .navbar {
    margin-bottom: 0px
}
.menunostyle {
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style:  none;
            padding: 0;
            margin: 0;
            a {
                padding: 0;
                margin: 0;
            }
        }
    }
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.modal-header, .modal-body{text-align: left}

/* menu line link */
.linelink  {
    ul{
        margin: 0;
        padding: 0;
        li {display: inline-block; margin-right: 15px}
    }
}
/* Hover ico font */
span.glyphicon:hover {cursor: default;}
a span.glyphicon:hover {cursor: pointer;}

/* Accessibilite */

a[target="_blank"]:after {
	font-family: "Glyphicons Halflings";
    font-size: 10px;
    margin-left: 5px;
    content: "\e164";
}
.parent {
    a:after {
        font-family: 'FontAwesome';
        content: "\f0d7"
    }
    ul li a:after {
        content: ""
    }
    a:focus {
        outline: thin dotted;
        outline-offset: -2px;
    }
}
.close:focus {
    outline: thin dotted;
    outline-offset: 2px;
}
.icons a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
a.evit-lnk {
    background: #FFFFFF;
    color: #222222;
    padding: 10px 15px;
}
a.pacpac {
    background: rgba(0, 0, 0, 0) url("../images/template/ay11.png") no-repeat scroll 10px center;
    padding-left: 37px !important;
}
a.a11y {
    background: rgba(0, 0, 0, 0) url("../images/template/ay11.png") no-repeat scroll 10px center;
    padding-left: 37px !important;
}
a.noa11y {
    background: rgba(0, 0, 0, 0) url("../images/template/noay11.png") no-repeat scroll 10px center;
    padding-left: 37px !important;
}
/* Joomla theme */
body.tmpl-component {background: #FFFFFF}
.colctre {
    background-image: url("../../../../../images/template_rgaa/@{body-bg-colctreimg}") ;
    background-repeat:   @img-bg-colctre-repeat;
    background-position: @img-bg-colctre-position;
    background-color: fade(@bgcolctre, @bgcolctrealpha);
    padding: @colctrepadding;
    border: @colctreborder solid @colctreclrborder;
    border-radius: @colctreradborder;
    margin-bottom: 15px;
}
.page-header {margin: @headcolctremarge}
.checkbox .controls label.radio {margin-top: 5px}
/* Affichage Article blog */
.blog .items-row {margin-bottom:  25px}
.blog-featured, .blog{
	.item {
		max-width: 100%;
	}
}
/* Intro article image */
.item-image {
    transition: all 0.4s ease 0s;
    overflow: hidden;
    &:hover img {
        transform: scale(1.2) translate3d(0px, 0px, 0px);
        transition: all 0.4s ease 0s;
    }
    img {
        width: 100%;
    }
    .fxfadeInUp {
        background: #fff none repeat scroll 0 0;
        border: 1px solid;
        color: @link-color;
        display: inline-block;
        left: 50%;
        margin-left: -17px;
        margin-top: -15px;
        opacity: 0;
        padding: 6px 12px;
        position: absolute;
        top: 50%;
        font-weight: bold;
    }
}
.item-image-bloc {
    border-bottom: 5px solid @link-color;
    //height: 160px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* Suffixe de module */
.nostyle {
    .moduletable& {
        padding: 0px;
        background: transparent;
        border:0px
    }
}

/* Menu noburger */
.noburger ul {margin: 0px}
/* Menu vertical  */
.menuvertical {
    padding: 0px;
    li {}
    li.active a::before {
        //content: "\e250";
        //font-family: "Glyphicons Halflings";
        //height: 100%;
        //left: -6px;
        //overflow: hidden;
        //position: absolute;
        //top: 9px;
        //width: 10px;
    }
    .dropdown-menu {
        position: relative;
        float: none;
        .dropdown-menu.multi-level {display: block;}

    }
}
/* Article */
.article-info {
  color: #111111;
  font-style: italic;
  font-size: 13px
}
dl.article-info a {margin-left:5px}
dl.article-info dd:after {content: " , "; margin-left: 5px;}
dl.article-info dd {
    display: flex; /* hoouuu du flex ca fait peur ^^ */
    float: left;
    margin-right: 5px;

}
dl.article-info dd:last-child:after {content: ""}
ul.tags.inline {
    display: inline-block;
    list-style: outside none none;
    margin: 0 0 0 9px;
    padding: 0;
}
ul.tags.inline li {
    display: inline-block;
}
/* Page break article en onglet */
dl.tabs {
    .nav;
    .nav-tabs;
    dt {
        &.tabs {
            float: left;
            margin-bottom: -1px;

            &.closed {}
        &.open {} 
        &.open span h3 a {background: #FFFFFF}
        }
        span {
            display: block;
            position: relative;
            h3 {
                a {
            cursor: pointer;
                    -moz-border-bottom-colors: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    background-color: #F0F0F0;
                    border-color: #ddd #ddd transparent;
                    border-image: none;
                    border-style: solid;
                    border-width: 1px;
                    color: #555;
                    display: block;
                    padding: 10px 15px;
                    position: relative;
                    border-radius: 4px 4px 0 0;
                    line-height: 1.42857;
                    margin-right: 2px;
                    font-size: 17px;
                    margin-bottom: -9px;
                }
            }
        }
    }
    dd {}
}
div.current {
    dd.tabs {
        p {}
        div {}
    }
}


/* Liens evitements */
.sr-only-focusable, .sr-only-focusable {
    &:focus, &:active {
        background: #fff none repeat scroll 0 0;
        clip: auto;
        height: 50px !important;
        left: 0;
        margin: 5px !important;
        overflow: visible;
        padding: 15px !important;
        position: absolute;
        top: 0;
        width: 250px !important;
        z-index: 50;
    }
    a& {
        font-weight: bold;
    }
}


/* placement Partage et outils general 
.btn.btn-default.hasTooltip.opac-share {
    position: absolute;
    right: 20px;
    top: 20px;
}
.icons {
    position: absolute;
    right: 57px;
    top: 20px;
}
*/
/* placement Partage et outils avec image d'intro 
.hasimgart , .hasnoimgart {
    .btn.btn-default.hasTooltip.opac-share {
    position: absolute;
    right: 20px;
      top: 23px;
    }
}
.hasnoimgart {
    .btn.btn-default.hasTooltip.opac-share {
    position: absolute;
    right: 20px;
      top: 23px;
    }
}
.hasnoimgart {
    .icons{
    position: absolute;
    right: 57px;
    top: 23px;
    }
}
.hasimgart {
    .icons{
    position: absolute;
    right: 58px;
    top: 23px;
    }
}
*/
.blog {
    .opac-share {
        position: absolute;
        top: 18px;
        right: 48px;
    }
    .icons {
        position: absolute;
        top: 18px;
        right: 9px;
    }
}
.item-page {
    .opac-share {
        position: absolute;
        top: 0px;
        right: 39px;
    }
    .icons {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
.posinh {position: relative;}
.posinh  {
    .col-sm-9, .col-sm-12 {position: inherit;}
}

/* Tag */
ul.tags.inline {
    margin-bottom: 20px;
    li {margin-bottom: 5px}
}
.list-inline.tag-pop > li {
    display: inline-block;
    margin: 3px 0 0;
    padding-left: 2px;
    padding-right: 0;
}
/* modif closer */
.alert-dismissable .close, .alert-dismissible .close {top: 0; left: 0;}
/* Animate.css - https://daneden.github.io/animate.css/ */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* Breadcrumb */
.txtbreadcrumb {
    padding: 8px 0 0 0;
    margin-right: 5px

}
/* Editor front end */
.lien-sans-icone a[target="_blank"]::after {
    content: "";
}
.edit.item-page {
    .btn-toolbar.pull-left.margetop.margebottom {
        float: none!important;
    }
    .chzn-container-multi .chzn-choices li.search-field input[type="text"], .chzn-container-single .chzn-single {
        height: 32px;
        padding: 3px 3px 3px 6px;
    }
    .chzn-container-single .chzn-single div b {
         margin-top: 5px;
    }
    .inputbox  {
        .form-control;
    }
    #jform_publish_up_img, #jform_publish_down_img {
        border: 1px solid #ccc;
        margin: -34px 9px 0 0;
        position: absolute;
        right: 0;
    }
}

/* fadeInUp */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}





